* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Font Awesome, sans-serif;
    font-family: Ubuntu Mono, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    border-bottom: 1px solid #101010;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#clock{
    font-weight: bold;
    font-size: larger;
    background-color: #000000;
}

#battery,
#tray{
    background-color: #000000;
}

#backlight {
    background-color: #d0d0d0;
    color: #000000;
}

#battery.charging {
    color: #000000;
    background-color: #33ff00;
}

@keyframes blink {
    to {
        background-color: #d0d0d0;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #fe0100;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #33ff00;
    color: #000000;
}

#memory {
    background-color: #cc00ff;
    color: #000000;
}

#network {
    background-color: #00ffff;
    color: #000000;
}

#network.disconnected {
    background-color: #fe0100;
}

#bluetooth {
    background-color: #0066ff;
    color: #000000;
}

#bluetooth.enabled {
    background-color: #0066ff;
    color: #ecf0f1;
}

#pulseaudio {
    background-color: #feff00;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #feff00;
    color: #000000;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #feff00;
    color: #000000;
}

#temperature.critical {
    background-color: #fe0100;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
